#container{
    display: flex;
    align-items: center;
    gap: 0;
    width: 100%;

    border-radius: 45px;
    background-image: url(./khomsa.png);
    background-repeat: repeat;
}

#signup{
    width: 600px;
}
#sign1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sign10{
    display: grid;
}
#sign1 h1{
    font-size: 50px;
}
#sign10 p{
    font-size: 15px;
    color: #8D8D8D;
}
#sign10 a{
    color: #E5201D;
    font-size: 15px;
    text-decoration: none;
}

#formulaire{
    display: grid;
    gap: 20px;
    margin-top: 5%;
}
.inp{
    height: 50px;
    padding-left: 5%;
    font-size: 15px;
    border-radius: 10px;
}
#signin{

    color: white;
    background-color: #E5181D;
    border: 1px #E5181D;
    font-size: 20px;
    height: 50px;
    border-radius: 10px;

}
#back{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    color: white;
    border-radius: 30px;
    width: 120px;
    font-size: 20px;
}
#container1{
    display: grid;
    gap: 80px;
    padding-left: 5%;
    padding-top: 3%;
    width: 50%;   
}
#container10{
    display: grid;
    gap: 0px;
}
#container10 h3{
    font-size: 40px;
    margin: 0;
}
#container10 h1{
    font-size: 50px;
    color: #E5201D;
    margin: 0;
}
#container11{
    padding: 0;
}
#container11 img{
    margin-left: 20%;
    padding-bottom: 2%;
}
#container11 p{
    font-size: 25px;
    padding-left: 23%;
}
#forg{
    margin-left: 73%;
    margin-top: 0%;
}
#container1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(229, 24, 29, 0.2);
    z-index: -1; 
}