#sect33{
    display: flex;
    align-items: center;
    gap: 900px;
    margin-top: 3%;
}
#sect33 h1{
    font-size: 30px;
    text-decoration: underline #E5181D;
    margin-left: 3%;
}
#sect33 h2{
    color: #E5181D;
    
    font-weight: 500;
}
#sect34{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
}